*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --line-height: 1.5;
  line-height: var(--line-height);
}

:root {
  --action-bar-size: 2rem;
  --transition-duration: 250ms;
  --transition-timing-function: ease;
}

.roboto-mono {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  color-scheme: dark;
  width: 100vw;
  height: 100svh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.game-container {
  width: 100svmin;
  height: 100svmin;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.game-action-bar {
  width: 100%;
  height: var(--action-bar-size);
  padding: calc(var(--action-bar-size) / 2);
  display: flex;
  align-items: center;
}

.score-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.score-wrapper > div {
  gap: 0.25rem;
  display: flex;
  align-items: center;
}

.trophy-icon {
  --size: 1.5rem;
  width: var(--size);
  height: var(--size);
  fill: currentColor;
  /* opacity: 0.9; */
}

#gameboard {
  width: calc(100% - var(--action-bar-size));
  height: calc(100% - var(--action-bar-size));
  background-color: hsl(250, 15%, 15%);
  display: grid;
  grid-template-rows: repeat(30, 1fr);
  grid-template-columns: repeat(30, 1fr);
}

/* nomenclature - snake-element -> head-element + body-element */

.snake-element {
  --grid-row-start: 1;
  --grid-column-start: 1;
  grid-row-start: var(--grid-row-start);
  grid-column-start: var(--grid-column-start);
  /* border: 0.25vmin solid hsl(250, 100%, 90%); */
}

.head {
  background-color: hsl(184, 60%, 46%);
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  --background-rotate: 0deg;
  background-image: linear-gradient(
    var(--background-rotate),
    hsl(248, 88%, 61%),
    transparent 25%,
    transparent
  );
  --eye-ball-translateX: 0%;
  --eye-ball-translateY: 0%;
  --border-radius: 20%;
}

.snake-eye {
  width: 90%;
  height: 90%;
  background-color: white;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.snake-eye::after {
  content: "";
  width: 50%;
  height: 50%;
  display: inline-block;
  border-radius: 100%;
  background-color: black;
  transform: translate(var(--eye-ball-translateX), var(--eye-ball-translateY));
}

[data-direction="down"] .eyetl,
[data-direction="down"] .eyetr,
[data-direction="up"] .eyebl,
[data-direction="up"] .eyebr,
[data-direction="left"] .eyebr,
[data-direction="left"] .eyetr,
[data-direction="right"] .eyebl,
[data-direction="right"] .eyetl {
  opacity: 0;
}

[data-direction="up"] {
  border-radius: var(--border-radius) var(--border-radius) 0% 0%;
}

[data-direction="down"] {
  border-radius: 0% 0% var(--border-radius) var(--border-radius);
  --background-rotate: 180deg;
}

[data-direction="right"] {
  border-radius: 0% var(--border-radius) var(--border-radius) 0%;
  --background-rotate: 90deg;
}

[data-direction="left"] {
  border-radius: var(--border-radius) 0% 0% var(--border-radius);
  --background-rotate: -90deg;
}

.body {
  background-color: hsl(248, 88%, 61%);
}

.food {
  background-color: hsl(275, 100%, 63%);
  border-radius: 20%;
}

.modal-wrapper {
  position: fixed;
  left: 0px;
  inset: 0px;
  background-color: hsla(0, 0%, 0%, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity var(--transition-duration)
    var(--transition-timing-function);
  pointer-events: none;
}

.modal {
  padding: 1rem;
  border-radius: 0.5rem;
  --alpha: 0.5;
  background: linear-gradient(
    144deg,
    hsla(275, 100%, 63%, var(--alpha)),
    hsla(248, 88%, 61%, var(--alpha)) 50%,
    hsla(184, 100%, 46%, var(--alpha))
  );
  --translate-y: 1rem;
  --sacle: 1.15;
  transform: translateY(var(--translate-y)) scale(var(--sacle));
  backdrop-filter: blur(0.25rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  transition: transform var(--transition-duration)
    var(--transition-timing-function);
}

.modal-wrapper.show {
  opacity: 1;
  pointer-events: all;
}

.modal-wrapper.show .modal {
  --translate-y: 0rem;
  --sacle: 1;
}

.play-button {
  padding: 0.5rem 1.25rem;
  width: 100%;
  border: none;
  background-color: hsl(239, 80%, 10%);
  font-family: inherit;
  font-size: inherit;
  border-radius: 0.25rem;
  cursor: pointer;
}
