*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --line-height: 1.5;
  line-height: var(--line-height);
}

html,
body {
  color-scheme: dark;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#gameboard {
  width: 90vmin;
  height: 90vmin;
  background-color: hsl(250, 15%, 15%);
  display: grid;
  grid-template-rows: repeat(30, 1fr);
  grid-template-columns: repeat(30, 1fr);
}

/* nomenclature - snake-element -> head-element + body-element */

.snake-element {
  --grid-row-start: 1;
  --grid-column-start: 1;
  grid-row-start: var(--grid-row-start);
  grid-column-start: var(--grid-column-start);
  border: 0.25vmin solid hsl(250, 100%, 90%);
}

.head {
  background-color: hsl(70, 80%, 60%);
}

.body {
  background-color: hsl(250, 80%, 60%);
}

.food {
  background-color: hsl(250, 0%, 100%);
}
